#header1{
    font-family: 'Courier New', Courier, monospace;
}
#header1{
    font-family: 'Courier New', Courier, monospace;
}
#leaf-image{
    width:300px;
    float:right;  /*Move the content to the right side of the page*/  

}
#description{
    font-size: 25px;
    /* display: none; */ /*Use to hide the the element*/
}

#list{
   display: inline-block; 
   /*display: inline; */

}
li{
    display: inline;
}
