.order{
    list-style-type: lower-alpha;
}
.unorder{
    list-style-type: square;
}

.order1{ /*Remove bullets, margin and padding from list */

    list-style-type: none;
    margin: 0;
    padding: 0;

}
/*
list-style-type: circle;

list-style-type: upper-roman;

*/