/**Element selector*/

h2{
    color:lightcoral;
}


/** Classes **/
.title{
    color:brown;
}


.subtitle{
    color:blue;
}

/* ID's*/
#contact-us{
    color:green;
}

/*selecting h2 with center class*/

h2.center{
    color:aqua;
    text-align:center;
}

/* Universal selector*/
* {
    text-align: center;
    color: blue;
  }

/*Multiple selector*/
  h4, h5, div {
    background-color: yellow;
  }